Source: ros-system-daemon
Section: science
Priority: extra
Maintainer: Mike Purvis <mpurvis@clearpathrobotics.com>
Build-Depends: debhelper (>= 5), cdbs
Standards-Version: 3.9.3
Homepage: https://github.com/mikepurvis/ros-system-daemon

Package: ros-system-daemon
Architecture: all
Depends: ${misc:Depends}, python, build-essential, adduser, ros-indigo-ros-base | ros-hydro-ros-base | ros-groovy-ros-base
Provides: ros-system-daemon
Description: ROS system daemon
 This package starts ROS at startup
 .
 Run ROS as user ros and group ros
Conflicts: ros-system-daemon-hydro,ros-system-daemon-groovy,ros-system-daemon-fuerte,ros-system-daemon-electric
