Source: ros-system-daemon-hydro
Section: science
Priority: extra
Maintainer: I Heart Engineering <code@iheartengineering.com>
Build-Depends: debhelper (>= 5), cdbs
Standards-Version: 3.9.3
Homepage: https://github.com/turtlebot-mfg/ros-system-daemon-hydro

Package: ros-system-daemon-hydro
Architecture: all
Depends: ${misc:Depends}, python, daemontools, build-essential, ros-hydro-ros, ros-hydro-ros-comm, adduser
Provides: ros-system-daemon
Description: ROS Hydro system daemon
 This package will start ROS at bootup
 .
 Run ROS as user ros and group ros
Conflicts: ros-system-daemon,ros-system-daemon-groovy,ros-system-daemon-fuerte,ros-system-daemon-electric
Wg-Rosdistro: hydro
